/* @import 'antd/dist/antd.css'; */
.login-form {
    max-width: 350px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 100px;
  }
  .login-form-forgot {
    float: right;
  }
  .ant-col-rtl .login-form-forgot {
    float: left;
  }
  .login-form-button {
    width: 100%;
  }